
.fa-duotone{
    display: none;
}@media (max-width: 780px) {
    .nav-ul{
        display: none;
    }
    .fa-duotone {
        color: white;
        display: block;
    }
}
@media (max-width:320px) {
    .bg-image-header {
        width: 100%;
        height: auto;
    }
}



@media (max-width: 1115px) {
    .second-section{
        justify-content: center;
    }
    .right-block{
        margin-top: 70px;
    }
}
@media (max-width: 687px) {
    .second-section{
        width: 100%;
    }
    .left-block{
        width: 80%;
    }
    .right-block{
        width: 100%;
    }
    .stair-image{
        width: 49%;
    }
    .pool-image{
        width: 49%;
    }
    .image1{
        width: 100%;
    }
}


@media (max-width: 1115px) {
    .third-section{
        height: auto;
    }
    .third-section{
        width: 80%;
        height: auto;
        display: flex;
    }
    
    .block{
        justify-content: center;
    }
    .wraper-block:nth-child(2){
        justify-content: center
    }
    .wraper-block:nth-child(3){
        justify-content: center
    }
    .wraper-block:nth-child(4){
        justify-content: center;
    }

    .texts{
        top: 92px; right: 50%; bottom: 0; left: 50%;
        transform: translate(-50%);
    }
    .wraper-block{
        top: 262px; right: 50%; bottom: 0; left: 50%;
        transform: translate(-50%);
    }
}
@media (max-width: 679px) {
    .third-section{
        height: auto;
    }
    .block{
        width: 100%;
    }
}
@media (max-width: 397px) {
    .texts{
        width: 260px;
    }
    .wraper-block{
        width: 260px;
    }
}


@media (max-width: 1115px) {
    .left-block{
        width: 583px;
        margin: 0 auto;
        margin-top: 90px;
    }
    .right-block-image{
        margin: 0 auto;
        margin-top: 50px;
    }
    .left-block{
        width: 100%;
    }
}
@media (max-width: 610px) {
    .forth-section{
        width: 80%;
    }
    .container-wraper{
        width: 100%;
    }
    .bedroom-img{
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .text-wraper-section4{
        margin: 0 auto;
        margin-top: 90px;
    }
    .container-wraper{
        margin-top: 50px;
    }
    .image-section-wraper{
        width: 30%;
    }
    .image-block{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .image-section4-box{
        width: 100%;
    }
    .responsive-div-section4{
        width: 300px;
        margin: 0 auto;
    }
    .image-section4{
        width: 300px;
    }
}
@media (max-width: 500px) {
    text-wraper p{
        width: 80%;
    }
}


