.bg-image-header {
    width: 100%;
    height: 324px;
    background-image: url(../images/palms.jpg);
    background-position: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
     
   
}
.navigation-flex {
    width: 1089px;
    height: 20px;
    position: absolute;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;   
    left: 50%;
    transform: translateX(-50%);
    
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.nav-li {
    margin-right: 49px;
}
.nav-li:last-child {
    margin-right: o;
}
a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}
.bg-image-header::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 60%;
    display: block;
}
.header-text {
    /* display: flex; */
    position: absolute;
    color: #FFFFFF;
    margin-top: 145px;
    margin-left: 139px;
}
h1 {
    font-size: 42px;

}
h2 {
    font-size: 42px;
    font-weight: bolder;
}
.line {
    width:2px;
    height: 19px;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
}
.line2 {
    display: flex;
    margin-top: 15px;
}
/* second section */
.second-section {
    width:1088px;
    /* height: 461px; */
    padding-top: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a:hover::after {
    color: blue;
}
.left-block {
   width:444px;
   height: 388px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
  /* justify-content: center; */
   align-content: space-between;
   
}
.blue-box {
    width: 184px;
    height: 50px;
    background-color: #5863F8;
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;

}
.text-read-more::after {
    content: url('../images/arrow-right\ \(1\).png');
    align-items: center;
}

.right-block {
    width: 536px;
    height: 461px;
    /* display: flex; */
    /* justify-content: space-around; */
}
.image { 
    display: flex;
    justify-content: space-between;
}
.image:nth-child(1) {
    /* margin-left: 14px; */
    margin-bottom: 16px;
}
.image1{
    width: 536px;
    height: 260px;
    display: block;
}
/* third-section */
.third-section {
    width: 100%;
    height: 612px;
    padding-top: 90px;

}
.bg-image {
    width: 100%;
    height: 612px;
    background-image: url(../images/monstera.jpg);
    background-position: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    
}
.bg-image::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 40%;
    display: block;
    
}

.wraper-block {
    width: 1096px;
    height: 277px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* margin-left: 131px; */
    padding-top: 245px;
    transform: translateX(37%);
}
.block {
    /* position: absolute; */
    width: 260px;
    height: 260px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    align-content: space-between;
   flex-wrap: wrap;
  /* justify-content: center; */
   align-content: space-around;
}
.third1 {
    font-size: 42px;
    font-weight: bolder;
    position: absolute;
    color: #FFFFFF;
    margin-left: 139px;
    margin-top: 113px;
}
.third {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: #5863F8;
    margin-left: 139px;
    margin-top: 92px;
}

.hello {
    font-size: 14px;
    font-weight: bold;
    /* position: absolute; */
}
.blue-circle{
    background-color: #5863F8;
    border-radius: 50%;
    width: 59px;
    height: 58px;
    /* position: absolute; */
    margin: o auto;
}




/* third section */
.container-wraper {
    max-width: 1098px;
    width:80%;
    margin:0 auto;
    background-color: #FFFFFF;
    padding-top: 90px;
}
.text-wraper p {
    max-width: 565px;
    width: 100%;
    display: flex;
    align-items: center;
}
.image-section-wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 275px;
}
.image-block {
    width: 352px;
}
.image-block img {
    width: 100%;
}
.add {
    color: #000000;

}
/* footer */
footer {
    width: 100%;
    background-color: #121212;
    padding: 89px 0 41px 0;
}
.footer-container {
    max-width: 1088px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.footer-text-block:nth-child(1){
    width: 260px;
}
.footer-title{
    font-size: 24px;
    font-family: 'Poppins Bold', sans-serif;
    color: white;
}
.footer-pteg{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    color: #B1B1B1;
    line-height: 19px;
    margin-top: 22px;
}
.icon-wraper-box{
    width: 126px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.text-block-footer:nth-child(2){
    margin-left: 55px;
}
.frames{
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frames:nth-child(1){
    background-color: #3B5998;
}
.frames:nth-child(2){
    background-color: #55ACEE;
}
.frames:nth-child(3){
    background-color: #DC4E41;
}
.fa-brands{
    color: white;
}



.footerh3{
    font-size: 18px;
    color: white;
    font-family: 'Poppins SemiBold', sans-serif;
    
}
.blue-ul{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    line-height: 28px;
    margin-top: 18px;
}
.blue{
    color: #5863F8;
}


.space-ul{
    margin-top: 15px;
}
.fa-icon-envilope {
    font-size: 16px;
    margin-right: 5px;
    color: #5863F8;
}
.fa-phone{
    font-size: 16px;
    margin-right: 5px;
    color: #5863F8;
}
.fa-location-dot{
    font-size: 16px;
    margin-right: 5px;
    color: #5863F8;
}


.copyright{
    font-size: 14px;
    font-family: 'Poppins Medium', sans-serif;
    color: #B1B1B1;
    margin-top: 54px;
}

.Marius::before {
    background-image: url(../images/marius.png) ;
}